:root{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
}
.formulario-item{
    display: flex;
    align-items: center;
    justify-content: center;
}
select{
    display: flex;
    justify-content: center;
    align-items: center;
}