.sesion{
    height: 100vh;
    float: left;
    display: flexbox;
    justify-content: left;
    width: 30vw;
    border-right: 3px solid rgb(228, 79, 241);
    
}

.sesion__empleado{
    padding: 2rem;
}

.sesion__informacion{
    
    padding: 2rem;
}
.sesion__lista{
    list-style: none;
    /* border: 1px; */
    
    border-radius: 5px;
    /* display: flexbox;
    justify-content: left; */
}
.sesion__lista-item{
    width: 100%;
    /* height: 20%; */
    
    font-size: 18px;
    /* border-radius: 1rem; */
    border-top: 2px solid rgb(86, 86, 230);
    margin-top: 2rem;
}
.sesion__lista-item a{
    text-decoration: none;
    color: black;
}

.sesion__lista :hover{
    background-color: rgb(47, 47, 216);
    color: aliceblue;
    border-radius: 4px;
}