:root {
    --morado: #A536DF;
    --verde: #5cd1a8;
    --verde2: #36DFA5;
    --naranja: #F56E40;
}

header {
    background-color: var(--morado);
    display: flex;
    align-items: center;
    padding-right: 10px;
    position: sticky;
    top: 0;
    z-index: 100
}

.header__img{
    width: 300px;
    margin: 0 1vh;
}

.divContainer{
    display: flex;
    flex: 1;
    align-content: center;
}

.inputBuscar{
    padding: 15px;
    width: 100%;
    border: none;
}

.search-icon{
    background-color: white;
    font-size: 1.3rem;
    padding: 10px;
    cursor: pointer;
}

.divTitulos{
    /* width: 350px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.divTitulos a{
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    margin: 0 10px;
    padding: 10px;
    color: white;
    text-decoration: none;
}
.divTitulos a:hover{
    background-color: #8f05da;
    border-radius: 5px;
}

.header__canasta{
    display: flex;
    align-items: center;
}

.canasta__icon{
    font-size: 1.5rem;
    margin-right: 0.5rem;
}